[Unit]
Description= container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a fuseki
ExecStop=/usr/bin/docker stop -t 2 fuseki

[Install]
WantedBy=default.target
